h1{
    font-weight: bold;
    line-height: 40px;
    font-size: 30px
}
body{
    color: #81490D;
}
td{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}
img{
    vertical-align: middle;
}
